{% extends "src/base.html.jinja2" %}
{% block heading %}
<h1 class="sono-mono">blog.mtib.dev</h1>
<a href="/index.html">back</a>
{% endblock heading %}
{% block content %}
<div class="item">
    <h2 class="sono-mono">Text Manipulation</h2>
    {% include "text_manipulation.html" %}
</div>
{% endblock content %}
